In [1]:
import pickle
from pandas import read_csv
from preprocessing import preprocess
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer, accuracy_score, f1_score

test_data = read_csv('./data/test.csv')

preprocessed = preprocess(test_data)

In [2]:
preprocessed

,age_at_enrollment,gender,curricular_units_2nd_sem_without_evaluations,application_order,displaced,admission_grade,curricular_units_2nd_sem_enrolled,scholarship_holder,tuition_fees_up_to_date,curricular_units_2nd_sem_grade,curricular_units_2nd_sem_approved,target
0,-0.103123,1,-0.180098,4,1,-0.884907,-0.557041,0,0,-2.089699,-1.451571,0
1,-0.718959,0,-0.180098,1,1,0.749969,-0.159422,0,1,0.099644,-0.830515,1
2,-0.718959,0,-0.180098,4,1,-0.050650,0.635814,0,1,0.469273,0.722124,2
3,-0.411041,0,-0.180098,1,1,-0.279398,-0.557041,0,1,0.365019,0.101068,2
4,-0.257082,1,-0.180098,1,0,1.597682,-0.159422,0,1,0.014345,0.101068,1
...,...,...,...,...,...,...,...,...,...,...,...,...
419,-0.565000,0,-0.180098,1,0,1.045995,0.635814,0,1,0.566870,1.032651,2
420,-0.257082,0,-0.180098,3,0,0.131003,-0.557041,0,1,0.398191,-0.209460,2
421,-0.411041,1,-0.180098,1,0,-0.339948,-0.159422,1,1,0.398191,0.101068,2
422,-0.257082,1,-0.180098,1,1,1.597682,-0.159422,0,1,0.564050,-0.519988,0
423,0.358753,1,-0.180098,1,1,-0.339948,0.635814,0,1,0.497706,-0.830515,1

In [3]:
X = preprocessed.drop(columns=['target'])
y = preprocessed['target']

In [4]:
with open('./export/best_model.pkl', 'rb') as file:
    model = pickle.load(file)

In [5]:
# define metrics for the cross validation
ACCURACY_SCORE = make_scorer(accuracy_score)
F1_SCORE = make_scorer(f1_score, average='macro')

# initialize mapping scorer
scoring = {'accuracy': ACCURACY_SCORE, 'f1': F1_SCORE}

results = cross_validate(model, X, y, scoring=scoring)
accs = results['test_accuracy']
f1s  = results['test_f1']

print(accs.mean().round(2), f1s.mean().round(2))

0.71 0.62